:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.site-container {
  min-height: 100vh;
}

main {
  padding: 1rem;
  flex: 1;
}

.btn-primary {
  background-color: #f0c040;
  color: #000000;
}

.rating span {
  color: #ffc000;
}

.products {
  display: flex; /* display side-by-side */
  flex-wrap: wrap; /* wrap the content to new line */
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem; /* add margin between products */
}

.product img {
  width: 100%;
  max-width: 400px; /* look reference */
}

.product-info {
  padding: 1rem; /* set the all around padding of product box */
}

.img-large {
  max-width: 100%;
}
